In [11]:
import time
from tqdm import tqdm
import numpy as np
import pandas as pd

In [7]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

service = Service(executable_path="../../Text_mining/chromedriver.exe")
options = webdriver.ChromeOptions()

In [21]:
def scrap_link(name):
    driver = webdriver.Chrome(service=service, options=options)
    
    driver.get(f"https://search.naver.com/search.naver?query={name}&nso=&where=blog&sm=tab_opt")
    lst = []
    driver.implicitly_wait(3  + np.random.random())        
    
    for i in driver.find_element(By.CLASS_NAME, 'lst_total').find_elements(By.CLASS_NAME, 'bx'):
        link_ = i.find_element(By.CLASS_NAME,'api_txt_lines.total_tit').get_attribute('href')
        if 'naver' in link_:
            lst.append(link_)
    
    lst = pd.DataFrame(lst)
    lst.rename({0:'링크'}, axis=1, inplace=True)
    lst['검색키워드'] = name
    
    driver.quit()
    
    return lst

In [9]:
ff = scrap_link('팔공산')

In [10]:
ff.to_csv('팔공산.csv', index = False, encoding= 'utf-8')

### place로 함수 돌려서 링크 받기

In [12]:
df = pd.read_csv('place.csv')
df

                장소                                    주소
0              이월드                  대구 달서구 두류공원로 200 이월드
1             금호꽃섬                         대구 북구 노곡동 665
2          팔공산케이블카             대구 동구 팔공산로185길 51 팔공산케이블카
3        워터파크 스파밸리          대구 달성군 가창면 가창로 891 워터파크 스파밸리
4         삼국유사테마파크                  대구 군위군 의흥면 일연테마로 100
..             ...                                   ...
295           팔거광장                       대구 북구 동천동 903-3
296           약전골목                             대구 중구 남성로
297         군위삼존석굴                   대구 군위군 부계면 남산리 1477
298  이천동 99계단 벽화마을                  대구 남구 이천로29길 28-1 일대
299     대구은행 금융박물관  대구 수성구 달구벌대로 2310 대구은행본점 지하 1층 금융박물관

[300 rows x 2 columns]

In [22]:
ndf = pd.DataFrame([])
for i in tqdm(df['장소']):
    ndf = pd.concat([ndf, scrap_link(i)])

100%|████████████████████████████████████████████████████████████████████████████████| 300/300 [24:12<00:00,  4.84s/it]

In [24]:
ndf.to_csv('검색링크.csv',index=False, encoding = 'utf-8')