In [2]:
import pandas as pd
import json
import os
import cv2
import numpy as np

c:\Users\KDP19\anaconda3\envs\mypython\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\KDP19\anaconda3\envs\mypython\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
c:\Users\KDP19\anaconda3\envs\mypython\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
file_dir = 'data/'
file_list = os.listdir(file_dir)
final_df = pd.DataFrame([])
file_list

['1950.csv',
 '1960.csv',
 '1970.csv',
 '1980.csv',
 '1990.csv',
 '2000.csv',
 '2010.csv',
 '2019.csv',
 'data_1950.npz',
 'data_1960.npz',
 'data_1970.npz',
 'data_1980.npz',
 'data_1990.npy',
 'data_2000.npy',
 'data_2010.npz',
 'data_2019.npz']

In [3]:

for file in file_list:
    if file.endswith('.csv'):
        print(file)
        df = pd.read_csv(f'{file_dir}{file}')
        final_df = pd.concat([final_df, df], ignore_index=True)

1950.csv
1960.csv
1970.csv
1980.csv
1990.csv
2000.csv
2010.csv
2019.csv

In [4]:
final_df

        era     style  age  job  income
0      1950   classic    3    4       2
1      1950   classic    2    3       2
2      1950   classic    3    4       2
3      1950   classic    3    1       5
4      1950   classic    3    1       6
...     ...       ...  ...  ...     ...
22491  2019  normcore    1    4       2
22492  2019  normcore    1    4       2
22493  2019  normcore    1    4       2
22494  2019  normcore    1    4       2
22495  2019  normcore    1    4       2

[22496 rows x 5 columns]

In [5]:
from keras.utils import to_categorical
label=to_categorical(final_df['age'])
final_df['age'].value_counts()

age
2    7211
1    6244
3    5954
4    3087
Name: count, dtype: int64

In [6]:
label

array([[0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.]], dtype=float32)

In [6]:
data_1950_ = np.load('data\data_1950.npz')
data_1950_ = (data_1950_['images']).astype(np.float16)

data_1960_ = np.load('data\data_1960.npz')
data_1960_ = data_1960_['images'].astype(np.float16)

data_1970_ = np.load('data\data_1970.npz')
data_1970_ = data_1970_['images'].astype(np.float16)

data_1980_ = np.load('data\data_1980.npz')
data_1980_ = data_1980_['images'].astype(np.float16)



data_1990_ = np.load('data\data_1990.npy').astype(np.float16)
data_2000_ = np.load('data\data_2000.npy').astype(np.float16)




data_2010_ = np.load('data\data_2010.npz')
data_2010_ = data_2010_['images'].astype(np.float16)

data_2019_ = np.load('data\data_2019.npz')
data_2019_ = data_2019_['images'].astype(np.float16)

In [23]:

# 리스트의 요소를 concatenate하여 하나의 4차원 배열 생성
combined_data = np.concatenate([ data_1950_, data_1960_, data_1970_, data_1980_, data_1990_, data_2000_, data_2010_, data_2019_], axis=0)

MemoryError: Unable to allocate 15.1 GiB for an array with shape (22496, 400, 300, 3) and data type float16